*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px 80px 1fr 80px;
    grid-template-areas:
    "zh" 
    "zn" 
    "zs" 
    "zf";
}

/* HEADER */

header{
    grid-area: zh;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: left;
}

header>img{
    width: 100px;
    padding-left: 15px;
}

nav{
    grid-area: zn;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section{
    grid-area: zs;
    display: flex;
    flex-wrap: wrap;
}

/* MODAL MUESTRA HOTELES POR CIUDAD */

#modal_seleccionar_hotel{
    display: none;
    flex-wrap: wrap;
    align-items: first baseline ;

}

.sh_hotel{
    width: 45%;
    height: 210px;
    background-image: url("prueba_hotel_barcelo.jpg");
    box-shadow: 1px 0 3px black;
    background-size: cover;    
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sh_datos_hotel{
   width: 100%;
   font-size: 26px;
   font-weight: 600;
   text-shadow: 2px 0px 0px black;
   color: white;
   text-align: center;

}

.sh_imagen_logo{
   display: none;
   

}



footer{
    grid-area: zf;
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}