*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    grid-template-areas:
    "zh" 
    "zs" 
    "zf";
}

/* HEADER */

header{
    grid-area: zh;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOS DIVS DEL HEADER */

#div_logo{
    width: 50%;
}

#div_logo > img{
    width: 200px;

}

#div_logo:hover{
    cursor: pointer;
}

#div_login{
    display: flex;
    justify-content: right;
    width: 30%;
}

#div_login:hover{
    cursor: pointer;
}
#div_menu:hover{
    cursor: pointer;
}

#div_menu{
    display: flex;
    justify-content: right;
    padding-right: 30px;
    width: 30%;
}

#div_login > img{
    width: 35px;
}
#div_menu > img{
    width: 35px;

}
/* NAV */

nav{
    grid-area: zn;
    background-color: rgb(45, 45, 45);
    color: white;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav > div {
    padding-left: 20px;
    font-size: 17px;
}

nav > div:hover {
    cursor: pointer;
    color: green;
}

section{
    grid-area: zs;
    display: flex;
    flex-wrap: wrap;
}

/* MODAL MUESTRA HOTELES POR CIUDAD */

#modal_seleccionar_hotel{
    display: none;
    flex-wrap: wrap;

}

.sh_hotel{
    width: 45%;
    height: 210px;
    box-shadow: 1px 0 3px black;
    background-size: cover;    
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
}


.sh_datos_hotel{
   width: 100%;
   font-size: 26px;
   font-weight: 600;
   text-shadow: 2px 0px 0px rgb(255, 255, 255);
   z-index: 10;
   color: rgb(0, 0, 0);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.sh_imagen_logo{
   border-radius: 10px;
   height: 100%;
   width: 100%;

}

.sh_imagen_logo > img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 50%;

}



/* MODAL HOME */

#modal_home{
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#slider{
    width: 100%;
    height: 350px;
    background-image: url(../imagenes/prueba_hotel_barcelo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.bloques_home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 30px; 
}

/* PRIMER BLOQUE */

#titulo_cta_b1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: 555;
    margin: 20px;
}

#descripcion_cta_b1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: 20px;
}

#div_boton_b1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

#boton_cta_home_b1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 20px;
}


/* SEGUNDO BLOQUE */

#titulo_cta_b2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: 555;
    margin: 20px;
}

#descripcion_cta_b2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: 20px;
}


/* TERCER BLOQUE */

#titulo_cta_b3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: 555;
    margin: 20px;
}

#descripcion_cta_b3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: 20px;
}


#div_boton_b3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

#boton_cta_home_b3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 20px;
}


/* MODAL LOGIN */

#modal_login{
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#login_formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

#titulo_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    font-size: 30px;
    font-weight: 555;
}

.login_datos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 555;
}

.cajon_input{
    width: 100%;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alias_login{
    width: 40%;
}

#password_login{
    width: 40%;

}

.div_boton_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

#boton_login{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 20px;
}

#login_registro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 10px;
}

#titulo_cta_login{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: 555;
    margin: 20px;
}

#descripcion_cta_login{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: 20px;
}

#boton_cta_login{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 20px;
}

#div_error_login{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: brown;
    width: 100%;
    height: auto;
    font-size: 16px;
    margin: 10px;
}

/* MODAL REGISTRO */

#modal_registro{
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#titulo_registro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    font-size: 30px;
    font-weight: 555;
}

.registro_datos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 555;
}

.cajon_input > input {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_error_registro{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: brown;
    width: 100%;
    height: auto;
    font-size: 16px;
    margin: 10px;
}

#boton_registro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 20px;
}


/* MODAL MENU MOBILE */

#modal_menu_mobile{
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.opciones_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: 555;
}

.opciones_menu:hover{
    cursor: pointer;
}

/* MODAL PREPARAR VIAJE */
#modal_preparar_viaje {
    width: 100%;
    height: 100%;
}
#pv_ciudades {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.ciudades{
    height: 400px;
    width: 450px;
    margin: 30px;
    cursor: pointer;
}

.ciudades > div {
    height: 100%;
}
/* FOOTER */

footer{
    grid-area: zf;
    background-color: rgb(45, 45, 45);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:700px) {


    #div_menu{
        display: none;
    }

    #div_login{
     padding-right: 30px;
    }
    

    body{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: 80px 50px 1fr 50px;
        grid-template-areas:
        "zh" 
        "zn" 
        "zs" 
        "zf";
    }

    nav {
        display: flex;
    }
    
}

@media screen and (min-width:1000px) {


        /* MODAL HOME */

        #titulo_cta_b1{
            justify-content: left;
            padding-left: 50px;
        }
        
        #descripcion_cta_b1{
            justify-content: left;
            padding-left: 50px;
        }
        
        #div_boton_b1{
            justify-content: left;
            padding-left: 50px;
        }

        #titulo_cta_b2{
            justify-content: right;
            padding-right: 50px;
            padding-left: 50px;
        }
        
        #descripcion_cta_b2{
            justify-content: right;
            padding-right: 50px;
            text-align: right;
        }

        #titulo_cta_b3{
            justify-content: left;
            padding-left: 50px;
        }
        
        #descripcion_cta_b3{
            justify-content: left;
            padding-left: 50px;
        }
        
        #div_boton_b3{
            justify-content: left;
            padding-left: 50px;
        }
        
    
    }
    
@media screen and (min-width:1400px) {
    
 
    
     }